extends layout

block content
    .container
        h1 About Us
        p This is the day that the Lord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to methe Lord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to me.
        ul
            li This is the first line and it is long
            li This is the second line and it is long
            li This is the third line and it is long
            li This is the fourth line and it is long
        p This is the second parageaph after the and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to methe Lord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to meLord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to meLord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to me

