extends layout

block content
    .jumbotron
        .container
            h1 Kehinde Orilogbon
            p This is the day that the Lord has made and i will rejoice in It. Welcome to my first Express Website. This project is really exciting to me because I know that I means a lot to me
            a.btn.btn-primary.btn-lg(href="#") View my Portfolio
    .container
        .row
            .col-md-4
                h2.text-center About Us
                p.text-center "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
                a.btn.btn-default(href="#") View More
            .col-md-4
                h2.text-center Our Services
                p.text-center "Service ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
                a.btn.btn-default(href="#") View More
            .col-md-4
                h2.text-center Our Portfolio
                p.text-center "Portfolio ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
                a.btn.btn-default(href="#") View More
    
